{{> header}}
<div class="content">
    {{> navigation}}
    <div class="posts">
        {{#each posts}}
            {{> post}}
        {{else}}
            <p>No posts in database</p>
        {{/each}}
    </div>
</div>
{{> footer}}